.card-category {
  position: absolute;
  top: 0;
  end: 0;
  background: dark;
  color: white;
  padding: 2px 5px;
  opacity: 0.75;
  z-index: 1; /* Mengatur elemen ini berada di atas elemen lain */
}
